<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Gamekeeper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <script>
      function openForm() {
        document.getElementById("loginPopup").style.display = "block";
      }
      function closeForm() {
        document.getElementById("loginPopup").style.display = "none";
      }
    </script>
 </head>

 <body>
  <nav>
    <div class="logo">
      <img src="/images/gamekeeper.png" alt="Logo">
    </div>
    <div class="menu">
      <ul>
        <li><a href="#" class="login-btn" onclick="openForm()">Login</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/friend-finder">Friend Finder</a></li>
      </ul>
    </div>
  </nav>
  <div id="loginPopup">
    <form action="/login" method="GET">
      <h2>Login</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <button type="submit">Submit</button>
      <button type="button" class="close" onclick="closeForm()">Close</button>
    </form>
  </div>
  <div class="welcome-container">
    <h1>Welcome to Gamekeeper!</h1>
    <p>Here you can find useful information on Steam Games.</p>
  </div>
  <div class="leaderboard">
    <h2>Leaderboard for Most Popular Games</h2>
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Game</th>
          <th>Number of Players</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < games.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= games[i].gameName %></td>
            <td><%= games[i].totalPlayers %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  

</body>
</html>