<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/><script>
      function openForm() {
        document.getElementById("loginPopup").style.display = "block";
      }
      function closeForm() {
        document.getElementById("loginPopup").style.display = "none";
      }
    </script>
 </head>

 <body>
  <nav>
    <div class="logo">
      <img src="/images/gamekeeper.png" alt="Logo">
    </div>
    <div class="menu">
      <ul>
        <li><a href="#" class="login-btn" onclick="openForm()">Login</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/friend-finder">Friend Finder</a></li>
      </ul>
    </div>
  </nav>
  <div id="loginPopup">
    <form action="/login" method="GET">
      <h2>Login</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <button type="submit">Submit</button>
      <button type="button" class="close" onclick="closeForm()">Close</button>
    </form>
  </div>

  <div class="form-container">
    <form action="/search-games" method="GET">
      <button type="submit" class="btn">Search</button>
      <h2>Search for Games you're interested in!</h2>
      <div class="form-group">
        <label for="name">Min Age:</label>
        <input type="number" id="minAge" name="minAge" placeholder="Min Age">
      </div>
      <div class="form-group">
        <label>Categories:</label>
        <div class="checkbox-container">
          <label><input type="checkbox" name="Categories[]" value="singlePlayer">Single Player</label>
          <label><input type="checkbox" name="Categories[]" value="multiPlayer">MultipPlayer</label>
          <label><input type="checkbox" name="Categories[]" value="CoOp">CoOp</label>
          <label><input type="checkbox" name="Categories[]" value="MMO">MMO</label>
          <label><input type="checkbox" name="Categories[]" value="inAppPurchases">In App Purchases</label>
          <label><input type="checkbox" name="Categories[]" value="includeSrcSDK">Include Src SDK</label>
          <label><input type="checkbox" name="Categories[]" value="includeLevelEditor">Include Level Editor</label>
          <label><input type="checkbox" name="Categories[]" value="VRSupport">VR Support</label>
          <label><input type="checkbox" name="Categories[]" value="nonGame">Non Game</label>
          <label><input type="checkbox" name="Categories[]" value="indie">Indie</label>
          <label><input type="checkbox" name="Categories[]" value="action_">Action</label>
          <label><input type="checkbox" name="Categories[]" value="adventure">Adventure</label>
          <label><input type="checkbox" name="Categories[]" value="casual">Casual</label>
          <label><input type="checkbox" name="Categories[]" value="strategy">Strategy</label>
          <label><input type="checkbox" name="Categories[]" value="RPG">RPG</label>
          <label><input type="checkbox" name="Categories[]" value="simulation">Simulation</label>
          <label><input type="checkbox" name="Categories[]" value="earlyAccess">Early Access</label>
          <label><input type="checkbox" name="Categories[]" value="freeToPlay">Free To Play</label>
          <label><input type="checkbox" name="Categories[]" value="sports">Sports</label>
          <label><input type="checkbox" name="Categories[]" value="racing">Racing</label>
          <label><input type="checkbox" name="Categories[]" value="massivelyMultiplayer">Massively Multiplayer</label>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Min Recommendations:</label>
        <input type="number" id="minRecs" name="minRecs" placeholder="Min Recommendations">
        <label for="name">Min Metacritic:</label>
        <input type="number" id="minMeta" name="minMeta" placeholder="Min Metacritic">
      </div>
      <div class="form-group">
        <label for="name">Max Price:</label>
        <input type="number" id="maxPrice" name="maxPrice" placeholder="Max Price">
      </div>
      <div class="form-group">
        <label>User Limitations:</label> 
    </div>
    <div class="form-group">
      <label for="orderBy">Order By:</label>
      <select name="orderBy" id="orderBy">
        <option value="gameName">Alphabetical</option>
        <option value="priceFinal">Price</option>
        <option value="playersTotal">Player Total</option>
        <li><a href="/friend-finder">Friend Finder</a></li>
      </select>
      <br>
      <p>ASC/DESC</p>
      <label class="switch">
        <input type="checkbox" id="descOrAsc" name="descOrAsc">
        <span class="slider round"></span>
      </label>
    </div>
    </form>
  </div>
  

</body>
</html>