<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Search Results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

 <body>
    <form action='/search'><button type='submit' id="home-btn">Go back to Search</button></form>
    <h1>Search Results</h1>
    <ul>
      <% games.forEach(function(game) { %>
        <li>
            <%= game.gameName %>
        </li>
      <% }); %>
    </ul>
    <form action='/search'><button type='submit' id="home-btn">Go back to Search</button></form>
</body>
</html>