<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Friend Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <script>
      function openForm() {
        document.getElementById("loginPopup").style.display = "block";
      }
      function closeForm() {
        document.getElementById("loginPopup").style.display = "none";
      }
    </script>
 </head>

 <body>
  <nav>
    <div class="logo">
      <img src="/images/gamekeeper.png" alt="Logo">
    </div>
    <div class="menu">
      <ul>
        <li><a href="#" class="login-btn" onclick="openForm()">Login</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/friend-finder">Friend Finder</a></li>
      </ul>
    </div>
  </nav>
  <div id="loginPopup">
    <form action="/login" method="GET">
      <h2>Login</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <button type="submit">Submit</button>
      <button type="button" class="close" onclick="closeForm()">Close</button>
    </form>
  </div>
  <h1>Filler</h1>
  <h2>Find people that own the same games as you:</h2>
  <div class="card my-form">
    <div class="card-body">
      <h2>Enter a game:</h2>
      <form action="/advanced-query2" method="GET">
        <div class="form-group">
          <label for="gameName">Game Name</label>
          <input type="text" class="form-control col-lg-9" id="gameName" aria-describedby="emailHelp" placeholder="Enter Game Name" name="gameName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div> 
  <ul>
    <% friends.forEach(function(friend) { %>
      <li><%= friend.userName %> - <%= friend.totalHoursPlayed %> hours played</li>
    <% }); %>
  </ul>
</body>
</html>